<ion-view view-title="BARA">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/bara-logo.png" alt="logo" />
                <p>The Bloomington Area Runners Association (BARA) is a collection of runners dedicated to having fun while training and racing. Located in Bloomington, home of Indiana University, the club provides organization to a once segmented running community. At BARA, our approach is simple: to provide the best possible resources and support to our members to ensure a lifetime of health and fitness. With group runs, training groups, and social events, we hope to provide sound advice and leadership that will create a strong sense of camaraderie and community.</p>
                <p>For more information on the Bloomington Area Runners Association visit 
                <a href="#" onclick="window.open('http://bararunners.wix.com/bara', 
                    '_system', 'location=yes'); return false;">http://bararunners.wix.com/bara</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
