<ion-view view-title="BARA">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/bara-logo.png" alt="logo" />

                <p>For more information on the Bloomington Area Runners Association visit 
                <a href="#" onclick="window.open('http://bararunners.wix.com/bara', 
                    '_system', 'location=yes'); return false;">http://bararunners.wix.com/bara</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
