<ion-view view-title="Pick a route">
    <ion-content>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/bara-logo-icon.png" />
                    <h2>Popular Routes</h2>
                    <p>Stay safe out there!</p>
                </div>
                <div class="item item-body">
                    <ul class="list">
                        <li class="item">Campus 3</li>
                        <li class="item">Campus 4</li>
                        <li class="item">Campus 5</li>
                        <li class="item">Graveyard Doughnut</li>
                        <li class="item">Bryan Park</li>
                        <li class="item">Cliff's Daily Special</li>
                    </ul>
                </div>
            </div>
    </ion-content>
</ion-view>
