<ion-view view-title="Pick a route">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/bara-logo-icon.png" />
                <h2>Popular Routes</h2>
                <p>Stay safe out there!</p>
            </div>
            <div class="item item-body" ng-controller="RouteController as route">
                <button ng-click="pickARoute()" class="button button-block button-positive">
                    Pick one for me
                </button>
                <div class="list">
                    <a class="item route" href="#">Bline</a>
                    <a class="item route" href="#">Bryan Park</a>
                    <a class="item route" href="#/app/route-campus-3">Campus 3</a>
                    <a class="item route" href="#/app/route-campus-4">Campus 4</a>
                    <a class="item route" href="#/app/route-campus-5">Campus 5</a>
                    <a class="item route" href="#">Cliff's Daily Special</a>
                    <a class="item route" href="#">Graveyard Doughnut</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
