<ion-view view-title="Campus 4">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/bara-logo-icon.png" />
                <h2>Campus 4</h2>
                <p>Look out for pedestrians!</p>
            </div>
            <div class="item item-body">
                <div style="overflow:auto;-webkit-overflow-scrolling:touch">
                    <iframe id="mapmyfitness_route" src="http://snippets.mapmycdn.com/routes/view/embedded/655300202?width=600&height=320&elevation=true&info=true&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=1&unit_type=imperial&map_mode=ROADMAP&last_updated=2015-03-18T17:34:19-04:00" height="490px" width="100%" frameborder="0"></iframe>
                    <div style="text-align: right; padding-right: 20px;">
                        <a target="_blank" href="http://www.mapmyrun.com/routes/create/">Create Maps</a>
                        or <a href="http://www.mapmyrun.com/routes/">Search for a route</a>
                        from millions at <a href="http://www.mapmyrun.com">MapMyRun</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
