<ion-view view-title="Campus 4">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/bara-logo-icon.png" />
                <h2>Campus 4</h2>
                <p>Look out for pedestrians!</p>
            </div>
            <div class="item item-body">
                <ion-scroll zooming="true" direction="xy" style="width:100%; height:100%">
                <img class="bara-route-img" style="width:1436px; height:496px;" src="img/routes/campus-4.png" />
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
