<ion-view view-title="Where is the fun?">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/bara-logo-icon.png" />
                <h2>Favorite food and beer locations</h2>
                <p>Every Thursday after the run</p>
            </div>
            <div class="item item-body">
                <ul class="list">
                    <li class="item">Upland</li>
                    <li class="item">Crazy Horse</li>
                    <li class="item">Nick's</li>
                    <li class="item">Bake House</li>
                    <li class="item">Function</li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
