<ion-view view-title="Where is the fun?">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/bara-logo-icon.png" />
                <h2>Favorite food and beer locations</h2>
                <p>Every Thursday after the run</p>
            </div>
            <div class="item item-body" ng-controller="FunController as fun">
                <button ng-click="pickTheFun()" class="button button-block button-positive">
                    Pick one for me
                </button>
                <div class="list">
                    <a class="item fun" href="#">Bake House</a>
                    <a class="item fun" href="#">Bub's Burgers and Ice Cream</a>
                    <a class="item fun" href="#">Crazy Horse</a>
                    <a class="item fun" href="#">Function</a>
                    <a class="item fun" href="#">Irish Lion</a>
                    <a class="item fun" href="#">Le Petit</a>
                    <a class="item fun" href="#">Nick's</a>
                    <a class="item fun" href="#">Upland</a>
                    <a class="item fun" href="#">The Tap</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
